* {
  margin: 0;
  padding: 0;
}
.navbar {
  width: 100vw;
  height: 7vh;
  background-color: black;
  position: sticky;
  top: 0;
  z-index: 99;
}

.navbarh4 {
  font-size: 20px;
  color: white;
}
.hover {
  width: 4vw;
  height: 3vh;
  position: absolute;
  padding: 15px;
  display: inline-block;
}
.home {
  left: 10px;
}
.band {
  left: 100px;
}
.tour {
  left: 180px;
}
.contact {
  width: 6vw;
  left: 260px;
}
.more {
  left: 390px;
}
.pretrazi {
  right: 15px;
  text-align: center;
  color: white;
}
.navbarh4:hover {
  color: black;
}
.hover:hover {
  background-color: gray;
}
.firstpic {
  width: 100vw;
  height: 100vh;
}

.picheading {
  position: absolute;
  bottom: 10px;
  left: 600px;
  color: white;
}
.picheading h3 {
  text-align: center;
  font-size: 30px;
}
.picheading h5 {
  font-size: 20px;
  text-align: center;
}
.theband {
  position: relative;
}
.theband1 {
  position: absolute;
  font-size: 30px;
  font-family: "Segoe UI", Arial, sans-serif;
  text-decoration: none;
  left: 710px;
  top: 100px;
}
.lovemusic i {
  font-family: "Lato", sans-serif;
  font-size: 17px;
  position: absolute;
  font-style: italic;
  left: 730px;
  top: 165px;
  color: rgb(167, 157, 157);
}
.text i {
  font-size: 17px;
  font-family: "Lato", sans-serif;
  position: absolute;
  left: 350px;
  top: 210px;
}
.theband p {
  display: inline-block;
  font-size: 19px;
}
.name1,
.name2,
.name3 {
  position: absolute;
  top: 400px;
  left: 520px;
}
.name2 {
  left: 790px;
}
.name3 {
  left: 1050px;
}
.autor {
  position: absolute;
  top: 1250px;
  left: 420px;
}
.autorpic {
  width: 180px;
  height: 180px;
  border-radius: 50px;
  padding: 40px;
}
.tickets {
  width: 100vw;
  height: 100vh;
  background-color: black;
  position: absolute;
  top: 1500px;
}

.position {
  position: relative;
  z-index: 99;
}
.tourdates {
  color: white;
  font-size: 40px;
  position: absolute;
  top: 75px;
  left: 43%;
}
.bookt {
  color: rgb(156, 151, 151);
  position: absolute;
  top: 140px;
  left: 43.5%;
  font-size: 19px;
  font-weight: bold;
}
.months {
  width: 50%;
  height: 20%;
  background-color: white;
  position: relative;
  top: 250px;
  left: 25%;
}
.positionmonths {
  height: 53px;
  border-bottom: solid gray 1px;
}
.september {
  margin: 14px;
  font-size: 29px;
  color: gray;
  font-weight: bold;
}
.button,
.button2 {
  width: 80px;
  height: 10px;
  text-align: center;
  padding: 8px;
  background-color: rgb(212, 60, 60);
  color: white;
  font-weight: bold;
  position: absolute;
  top: 13px;
  left: 120px;
}
.button p {
  position: relative;
  bottom: 5px;
}
.button2 {
  position: absolute;
  top: 65px;
  left: 100px;
}
.button2 p {
  position: relative;
  bottom: 5px;
}
