* {
  margin: 0;
  padding: 0;
}
.navbar {
  width: 100vw;
  height: 7vh;
  background-color: black;
  position: sticky;
  top: 0;
  z-index: 99;
}
.navbarh4 {
  font-size: 20px;
  color: white;
}
.hover {
  width: 4vw;
  height: 3vh;
  position: absolute;
  padding: 15px;
  display: inline-block;
}
.home {
  left: 10px;
}
.band {
  left: 100px;
}
.tour {
  left: 180px;
}
.contact {
  width: 6vw;
  left: 260px;
}
.more {
  left: 390px;
}
.pretrazi {
  right: 15px;
  text-align: center;
  color: white;
}
.navbarh4:hover {
  color: black;
}
.hover:hover {
  background-color: gray;
}
.firstpic {
  width: 100vw;
  height: 100vh;
}
.picheading {
  position: absolute;
  bottom: 10px;
  left: 600px;
  color: white;
}
.picheading h3 {
  text-align: center;
  font-size: 30px;
}
.picheading h5 {
  font-size: 20px;
  text-align: center;
}
.theband {
  position: relative;
}
.theband1 {
  position: absolute;
  font-size: 30px;
  font-family: "Segoe UI", Arial, sans-serif;
  text-decoration: none;
  left: 710px;
  top: 100px;
}
.lovemusic i {
  font-family: "Lato", sans-serif;
  font-size: 17px;
  position: absolute;
  font-style: italic;
  left: 730px;
  top: 165px;
  color: rgb(167, 157, 157);
}
.text i {
  font-size: 17px;
  font-family: "Lato", sans-serif;
  position: absolute;
  left: 350px;
  top: 210px;
}
.theband p {
  display: inline-block;
  font-size: 19px;
}
.name1,
.name2,
.name3 {
  position: absolute;
  top: 400px;
  left: 520px;
}
.name2 {
  left: 790px;
}
.name3 {
  left: 1050px;
}
.autor {
  position: absolute;
  top: 1250px;
  left: 420px;
}
.autorpic {
  width: 180px;
  height: 180px;
  border-radius: 50px;
  padding: 40px;
}
.tickets {
  width: 100vw;
  height: 120vh;
  background-color: black;
  position: absolute;
  top: 1500px;
}
.position {
  position: relative;
  z-index: 99;
}
.tourdates {
  color: white;
  font-size: 30px;
  position: absolute;
  top: 75px;
  left: 46%;
}
.bookt {
  color: rgb(156, 151, 151);
  position: absolute;
  top: 140px;
  left: 44%;
  font-size: 19px;
  font-weight: bold;
}
.months {
  width: 53%;
  height: 17%;
  background-color: white;
  position: relative;
  top: 210px;
  left: 27%;
}
.positionmonths {
  height: 53px;
  border-bottom: solid gray 1px;
}
.september {
  margin: 14px;
  font-size: 29px;
  color: gray;
  font-weight: bold;
}
.button,
.button2 {
  width: 80px;
  height: 10px;
  text-align: center;
  padding: 8px;
  background-color: rgb(231, 14, 14);
  color: white;
  font-weight: bold;
  position: absolute;
  top: 13px;
  left: 120px;
}
.button p {
  position: relative;
  bottom: 5px;
}
.button2 {
  position: absolute;
  top: 65px;
  left: 100px;
}
.button2 p {
  position: relative;
  bottom: 5px;
}
.ticketsny,
.ticketsP,
.ticketsS {
  width: 270px;
  height: 420px;
  background-color: white;
  position: relative;
  top: 230px;
  left: 27%;
}
.ticketsny img,
.ticketsP img,
.ticketsS img {
  width: 270px;
  height: 50%;
}
.ticketsny h4,
.ticketsP h4,
.ticketsS h4 {
  margin: 15px;
  font-size: 19px;
}
.ticketsny i,
.ticketsP i,
.ticketsS i {
  margin: 15px;
  font-size: 19px;
  color: gray;
}
.ticketsny p,
.ticketsP p,
.ticketsS p {
  margin: 15px;
}
.buyticketsp,
.buyticketsp2,
.buyticketsp3 {
  width: 115px;
  height: 30px;
  padding: 10px;
  color: white;
  background-color: black;
  position: relative;
  left: 14px;
}
.buytickets,
.buytickets2,
.buytickets3 {
  font-size: 14px;
  position: relative;
  bottom: 10px;
}
.buyticketsp:hover {
  background-color: rgb(199, 184, 184);
  color: black;
}
.ticketsP {
  position: absolute;
  top: 390px;
  left: 45%;
}
.buyticketsp2:hover {
  background-color: rgb(199, 184, 184);
  color: black;
}
.ticketsS {
  position: absolute;
  top: 390px;
  left: 63%;
}
.buyticketsp3:hover {
  background-color: rgb(199, 184, 184);
  color: black;
}
.contsec {
  position: relative;
  top: 1500px;
  width: 100vw;
  height: 50vh;
  background-color: white;
}
.contsec h1 {
  position: absolute;
  top: 40px;
  left: 45%;
  font-size: 40px;
}
.contseci {
  position: absolute;
  top: 110px;
  left: 47%;
  font-size: 18px;
  color: gray;
  font-weight: bold;
  font-style: italic;
}
.contsec i {
  position: absolute;
  top: 110px;
  left: 48%;
}
.list {
  position: absolute;
  top: 220px;
  left: 350px;
}
li {
  list-style-type: none;
  font-size: 25px;
}
.h3weight {
  font-weight: 100;
}
.email {
  position: absolute;
  top: 185px;
  left: 320px;
  font-size: 20px;
}
.phone {
  position: absolute;
  top: 150px;
  left: 320px;
  font-size: 20px;
}
.location {
  position: absolute;
  top: 115px;
  left: 320px;
  font-size: 20px;
}
.name,
.email2,
.message {
  width: 250px;
  height: 50px;
  border: solid 1px rgb(170, 155, 155);
  border-radius: 5px;
  position: absolute;
  top: 200px;
  left: 50%;
}
.email2 {
  left: 67%;
}
.message {
  width: 522.5px;
  top: 260px;
}
.name p,
.email2 p,
.message p {
  font-size: 20px;
  font-weight: 400;
  color: gray;
  margin: 12px;
}
.sendbuton {
  width: 75px;
  height: 35px;
  padding: 8px;
  background-color: black;
  color: white;
  position: absolute;
  top: 330px;
  left: 77%;
}
.sendbuton p {
  font-size: 23px;
  margin: 5px;
}
.sendbuton:hover {
  background-color: rgb(185, 183, 183);
  color: black;
}
footer {
  position: absolute;
  top: 2800px;
}
footer img {
  width: 100vw;
  height: 100vh;
}
.footericons {
  display: inline-block;
  width: 100vw;
  height: 100px;
  position: absolute;
  top: 3800px;
}
.footericons i {
  font-size: 35px;
  color: gray;
  position: absolute;
}
.facebook {
  left: 46%;
}
.instagram {
  left: 49%;
}
.snapchat {
  left: 52%;
}
.pinterest {
  left: 55%;
}
.twiter {
  left: 58%;
}
.linked {
  left: 61%;
}
