* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  width: 100%;
  height: 10vh;
  background-color: #101820;
  position: fixed;
  top: 0;
  z-index: 99;
}
nav h1 {
  color: white;
  font-size: 24px;
  position: absolute;
  left: 100px;
  top: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
nav ul li {
  color: white;
  list-style-type: none;
  display: inline-block;
  padding: 0 60px;
  font-size: 19px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
nav ul {
  position: absolute;
  right: 100px;
  bottom: 28px;
}
.mountainimg {
  width: 100%;
  height: 100vh;
}
.main-section {
  height: 100vh;
}
.main-h1 {
  font-size: 50px;
  text-shadow: 5px 5px 5px black;
  color: white;
  font-weight: bolder;
  font-family: Geneva, Tahoma, sans-serif;
  position: absolute;
  left: 35%;
  top: 30%;
}
.main-p,
.second-p {
  font-size: 35px;
  color: white;
  text-shadow: 5px 5px 5px black;
  font-family: Geneva, Tahoma, sans-serif;
  position: absolute;
  top: 42%;
  left: 30%;
  font-weight: 500;
}
.second-p {
  top: 48%;
  left: 42%;
  text-shadow: 3px 3px 5px black;
}
.button {
  width: 200px;
  height: 60px;
  background-color: #4c6e97;
  color: white;
  cursor: pointer;
  transition: background-color 0.5s ease;
  position: absolute;
  top: 60%;
  left: 45%;
}
.button p {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  top: 15px;
  left: 60px;

  font-family: Tahoma, sans-serif;
}
.button:hover {
  background-color: #27394e;
}
.cloud-section {
  width: 100%;
  height: 93vh;
  background: linear-gradient(to bottom, #585858 0%, #c4c2c3 100%);
  position: relative;
  overflow: hidden;
}
.city-pic {
  width: 90%;
  height: 80vh;
  position: absolute;
  top: 200px;
  left: 78px;
}
.cloud {
  position: absolute;
  top: 0%;
  right: 0%;
  width: 50%;
  height: 60%;
}
.cloud-1,
.cloud-2 {
  animation: anim1 3s ease;
  animation-iteration-count: infinite;
}

.cloud-2 {
  animation: anim2 3.5s ease;
  animation-iteration-count: infinite;
}

@keyframes anim1 {
  0% {
    top: -100px;
    right: -50px;
  }
  50% {
    top: 0;
    right: 0;
  }
  100% {
    top: -100px;
    right: -50px;
  }
}
@keyframes anim2 {
  0% {
    top: -60px;
    right: -20px;
  }
  50% {
    top: 0;
    right: 0;
  }
  100% {
    top: -60px;
    right: -20px;
  }
}
.cloud-h1,
.cloud-p {
  font-size: 50px;
  color: white;
  text-decoration: underline;
  position: absolute;
  top: 250px;
  left: 75px;
  text-shadow: 1px 1px 5px rgb(253, 251, 251);
}
.cloud-p {
  font-size: 30px;
  text-decoration: none;
  top: 330px;
  text-shadow: 1px 1px 5px rgb(252, 246, 246);
}
.benefits {
  width: 100%;
  height: 100vh;
  position: relative;
}
.benefits img {
  width: 100%;
  height: 100vh;
}
.benefits-heading {
  font-size: 50px;
  font-weight: 900;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #4c6e97;
  text-shadow: 1px 1px 5px rgb(253, 251, 251);
  position: absolute;
  top: 100px;
  left: 35%;
}
.benefits-p {
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #4c6e97;
  text-shadow: 1px 1px 5px rgb(253, 251, 251);
  position: absolute;
  top: 180px;
  left: 25%;
}
.card-travel,
.card-hotel,
.card-flight {
  width: 380px;
  height: 320px;
  background-color: white;
  position: absolute;
  top: 350px;
  left: 120px;
}
.div-icon-route,
.div-icon-bed,
.div-icon-plane {
  width: 100%;
  height: 35%;
  background-color: #4c6e97;
}
.route-icon,
.bed-icon,
.icon-plane {
  font-size: 60px;
  color: white;
  position: absolute;
  top: 15px;
  left: 40%;
}
.card-travel h1,
.card-hotel h1,
.card-flight h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 27px;
  font-weight: 800;
  position: absolute;
  top: 120px;
  left: 35%;
}
.card-travel p,
.card-hotel p,
.card-flight p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  position: absolute;
  top: 170px;
  left: 6%;
  color: rgb(100, 99, 99);
}
.card-hotel {
  left: 590px;
}
.card-flight {
  left: 1050px;
}
footer {
  position: relative;
  height: 100vh;
}
footer img {
  width: 100%;
  height: 90vh;
}
.contact-card {
  width: 750px;
  height: 450px;
  position: absolute;
  top: 150px;
  left: 27%;
  background: rgba(10, 33, 56, 0.8);
  border-radius: 20px;
}
.footer-heading {
  color: white;
  position: absolute;
  top: 14px;
  left: 32%;
  font-size: 50px;
}
.input,
.input2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  color: white;
  position: absolute;
  top: 150px;
  left: 170px;
}
.input2 {
  top: 230px;
}
.input-div,
.input-div2 {
  width: 300px;
  height: 40px;
  background-color: white;
  position: absolute;
  top: 145px;
  left: 250px;
}
.input-div2 {
  top: 225px;
}
.input-div:hover,
.input-div2:hover {
  border: 1px solid black;
  background-color: rgb(202, 202, 202);
}
.submit-button {
  width: 100%;
  height: 60px;
  background-color: #4c6e97;
  color: white;
  transition: background-color 0.3s ease;
  position: absolute;
  top: 300px;
}
.submit-button p {
  font-size: 25px;
  position: absolute;
  top: 15px;
  left: 46%;
}
.submit-button:hover {
  background-color: #27394e;
}
.footer-nav {
  width: 100%;
  height: 10vh;
  background-color: #101820;
}
.footer-nav h1 {
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  position: absolute;
  top: 735px;
  left: 50px;
}

footer ul {
  list-style-type: none;
  position: absolute;
  top: 740px;
  left: 800px;
}
footer ul li {
  color: white;
  font-size: 30px;
  display: inline-block;
  padding: 0 90px;
}
